a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__list--item {
  margin-right: 30px;
  font-family: cursive;
  font-weight: 600;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__icon {
  font-size: 24px;
  margin-right: 8px;
  color: rgb(20, 139, 207);
}

.logo__text {
  font-size: 24px;
  font-family: fantasy;
  letter-spacing: 1.5px;
}

.invite__btn {
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  padding: 10px 15px;
}

.invite__btn:hover {
  background-color: rgb(20, 139, 207);
}

.logo__text:hover,
.menu__list--item:hover {
  color: rgb(20, 139, 207);
}

@media (max-width: 768px) {
  nav {
    display: unset;
  }

  .menu__list {
    display: block;
    padding: 0px;
  }

  .menu__list--item {
    border: solid rgba(63, 63, 63, 0.808) 2px;
    padding: 5px;
    margin: 3px;
  }

  .menu__list--item:hover {
    color: white;
    background-color: black;
  }

  .invite a {
    display: block;
    margin: 0px;
    margin-bottom: 5px;
  }

  .invite a:hover {
    color: white;
    background-color: rgb(20, 139, 207);
  }

  .logo {
    text-align: center;
  }
  /* ეს ლოგო ვერ გავცენტრე ამ ფროფერთითი და რატო? */

  .gallery__box {
    height: 500px;

    min-width: 400px; /* აქ მინდოდა რომ თვითონ flex ფროფერთი შემეცვალა, მაგრამ მასე არ გამომივიდა  */

    /* padding-left: 200px;  ესეც ვერ შევცვალე media ს დროს, კონტენტის შიგნით შეწევა მინდოდა */
  }
}

.first-line,
.third-line {
  display: flex;
  flex-wrap: wrap-reverse;
}

.second-line {
  display: flex;
  flex-wrap: wrap;
}

.first-line__text,
.third-line__text,
.second-line__text {
  height: 500px;
  flex: 1.5 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px 80px 30px 50px;
  box-sizing: border-box;
}

.first-line__text {
  background-color: rgb(22, 22, 22);
}

.second-line__text {
  order: 1;
}

.first-line__photo,
.third-line__photo,
.second-line__photo {
  background-color: green;
  height: 500px;
  flex: 3 400px;
}

.first-line__photo {
  background-image: url(./photos/photographer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.second-line__photo {
  background-image: url(./photos/img\ 4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.third-line__photo {
  background-image: url(./photos/img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.first-line .text-heading,
.first-line .text-link {
  color: white;
  font-family: cursive;
}

.text-heading,
.text-paragraph,
.text-link {
  font-family: cursive;
}

.text-heading {
  font-size: 26px;
}

.text-paragraph {
  color: rgb(110, 110, 110);
  font-size: 14px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  /* height: 300px; */
}

.gallery__box {
  flex: 1 250px;
  padding-left: 50px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.gallery__box--one {
  background-image: url(./photos/mountains-img.jpg);
  background-size: cover;
  background-position: center;
}

.gallery__box--two {
  background-image: url(./photos/cityscapes-img.jpg);
  background-size: cover;
  background-position: center;
}

.gallery__box--three {
  background-image: url(./photos/voyage\ -\ img.jpg);
  background-size: cover;
  background-position: center;
}

.gallery__box--four {
  background-image: url(./photos/arcitechture-img.jpg);
  background-size: cover;
  background-position: center;
}

.gallery__heading {
  margin: 0px;
  display: inline;
  margin-top: 50%;
  color: white;
  font-size: 18px;
  font-family: cursive;
}

.gallery__sub-heading {
  display: inline;
  color: white;
  font-size: 13px;
  font-family: cursive;
  font-weight: 100;
}

.gallery__link {
  color: white;
  font-size: 15px;
  font-family: cursive;
  font-weight: 500;
}

.gallery__link::before {
  content: "";
  display: block;
  width: 300px;
  height: 2px;
  background-color: rgb(202, 202, 202);
}

.features {
  margin-top: 10px;
  display: flex;
  padding: 50px 150px;
  flex-wrap: wrap;
  justify-content: center;
}

.features__item {
  display: flex;
  flex-direction: column;
  flex: 1 250px;
  background-color: white;
  align-items: center;
  justify-content: baseline;
  margin-right: 25px;
  padding: 15px;
}

.features__item--icon {
  font-size: 45px;
  margin-bottom: 15px;
}

.features__name {
  font-family: monospace;
  font-size: 15px;
  font-weight: 600;
}

.features__text {
  font-family: monospace;
  font-size: 15px;
}

footer {
  background-color: rgb(22, 22, 22);
  /* height: 200px; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 30px 100px;
}

.footer__logo-text {
  color: white;
  font-weight: 600;
}

.footer-social__icon {
  color: white;
  margin-right: 7px;
}

.footer-social__icon:hover,
.footer__list-item:hover,
.footer__button a:hover,
.text-link:hover,
.gallery__link:hover {
  color: rgb(20, 139, 207);
}

.footer__icons,
.footer__button,
.footer__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  flex: 1 300px;
  margin-top: 25px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  color: white;
}

.footer__invite-btn {
  color: white;
  font-family: cursive;
  margin-right: 10px;
}

.footer__list-item {
  color: white;
  font-family: cursive;
  font-weight: 100;
  font-size: 13px;
  margin-bottom: 5px;
}

.footer__arrow {
  color: white;
}

.copyright {
  color: gainsboro;
  font-family: cursive;
}

.footer__list {
  padding: 0px;
}
